.game-chat {
  width: $sidePanelWidth;
  min-height: $sidePanelMinHeight;
  background: $color-brown;

  display: flex;
  flex-direction: column;
  padding: 0;
}

.message-board {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 340px;
  overflow-y: auto;
  padding-top: $unit3;
}

.message {
  font-size: 85%;
  margin-bottom: $unit2;
  animation: moveUpIn 2s ease-out;
}

.message-text {
  padding: 2px 6px;
}

.message-mine {
  text-align: right;
  margin-right: $unit2;

  .message-text {
    background: #fff;
    border-radius: $unit3 $unit3 1px $unit3;
  }
}

.message-their {
  text-align: left;

  .message-text {
    background: #dedede;
    border-radius: 1px $unit3 $unit3 $unit3;
  }
}
