$color-green: #025002;
$color-brown: #837065;
$color-black: #111;
$color-beige: #111;
$color-red: #dc004e;
$color-white: #ffffff;

$unit1: 4px;
$unit2: 8px;
$unit3: 16px;
$unit4: 32px;

$sidePanelWidth: 17%;
$sidePanelMinHeight: 75vh;
