.dialog-container {
  box-sizing: border-box;
  padding: $unit2 $unit2 $unit2 $unit3;

  h3 {
    color: $color-white;
    font-style: italic;
    margin: 0;
    border: $color-brown 1px solid;
    text-align: center;
  }
}

.dialog-box {
  background: $color-white;
  font-size: 80%;
  padding: $unit2;
  text-align: center;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin-top: 0;
  }
}
