.game-timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $unit2;

  &__title {
    background: $color-white;
    padding: 4px;
    border-radius: 4px;
    color: $color-black;
  }

  &__round {
    display: flex;
    align-items: center;
  }

  &__round-number {
    min-width: 20px;
    color: $color-white;
    text-align: right;
  }
}
