.home {
  background: white;
  padding-bottom: $unit4;
}

.home-content {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: $unit2;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-secion--separator {
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.create-game-label {
  margin-top: $unit2;
}
