.popup-container {
  padding: $unit4;
  text-align: center;
}

.popup-timeleft {
  width: 100%;
  height: $unit2;
  background: oldlace;
  position: relative;

  &__bar {
    width: 100%;
    height: $unit2;
    position: absolute;
    background: $color-green;
    animation: retractToZero 6s linear;

    &--long {
      animation: retractToZero 12s linear;
    }
  }
}
