.game-waiting-room {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 85vh;
  align-items: center;
  background: #fff;

  &__message {
    margin-top: $unit2;
  }
}
