@keyframes moveUpIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ripple {
  from {
    transform: scale(0.8);
    opacity: 1;
  }
  to {
    transform: scale(2.4);
    opacity: 0;
  }
}

@keyframes retractToZero {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf0f5;
}

.full-screen {
  height: 95vh;
  display: flex !important;
  flex-direction: column;
  background-color: palevioletred;
}

.mui-block {
  display: block !important;
  margin-bottom: 16px !important;
}

.padding {
  padding: 16px;
  margin-bottom: 16px;
}

.mui-full-width {
  width: 100% !important;
  margin-bottom: 16px !important;
}

.progress-bar-placeholder {
  width: 100%;
  height: 4px;
  background: #025002;
}

.header {
  background: #025002 !important;
  text-align: center;
  padding: 8px;
}
.header--flex {
  display: flex;
  flex-direction: row !important;
}
.header__game-id {
  font-size: 75%;
}
.header h1 {
  margin: 0;
}
.header__military-translation {
  font-size: 75%;
}
.header__left-area,
.header__right-area {
  width: 17%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__game-center {
  flex: 1;
}

.badge--online > .MuiBadge-badge {
  background-color: #44b700;
  color: #44b700;
  box-shadow: 0 0 0 2px #ffffff;
}
.badge--online > .MuiBadge-badge:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: ripple 1.2s infinite ease-in-out;
  border: 1px solid currentColor;
  content: ' ';
}

.badge--offline > .MuiBadge-badge {
  background-color: grey;
}

.popup-container {
  padding: 32px;
  text-align: center;
}

.popup-timeleft {
  width: 100%;
  height: 8px;
  background: oldlace;
  position: relative;
}
.popup-timeleft__bar {
  width: 100%;
  height: 8px;
  position: absolute;
  background: #025002;
  animation: retractToZero 6s linear infinite;
}
.popup-timeleft__bar--long {
  animation: retractToZero 12s linear infinite;
}

.home {
  background: white;
  padding-bottom: 32px;
  flex: 1;
}

.home-content {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 8px;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-secion--separator {
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.create-game-label {
  margin-top: 8px;
}

.create-game-back-button {
  margin-top: 8px;
}

.game-waiting-room {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 85vh;
  align-items: center;
  background: #fff;
}
.game-waiting-room__message {
  margin-top: 8px;
}

.game-actions {
  box-sizing: border-box;
}
.game-actions__actions {
  display: flex;
  justify-content: center;
  padding: 8px;
  height: 100%;
}
.game-actions__actions--clue-giving {
  flex-direction: column;
}
.game-actions__actions--clue-giving > div {
  margin-top: 4px;
}
.game-actions__actions--clue-giving > button {
  margin-top: 8px;
}
.game-actions__actions--guessing {
  align-items: center;
}
.game-actions__actions--setup {
  align-items: center;
}
.game-actions__actions--waiting {
  align-items: center;
}

.game-chat {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 380px;
  overflow-y: auto;
  padding-top: 16px;
}

.message {
  font-size: 85%;
  margin-bottom: 8px;
  animation: moveUpIn 2s ease-out;
}

.message-text {
  padding: 2px 6px;
}

.message-mine {
  text-align: right;
  margin-right: 8px;
}
.message-mine .message-text {
  background: #ffffff;
  border-radius: 16px 16px 1px 16px;
}

.message-their {
  text-align: left;
}
.message-their .message-text {
  background: #ffffff;
  border-radius: 1px 16px 16px 16px;
}

.dialog-container {
  box-sizing: border-box;
  padding: 8px 8px 8px 16px;
}
.dialog-container h3 {
  color: #ffffff;
  font-style: italic;
  margin: 0;
  border: #837065 1px solid;
  text-align: center;
}

.dialog-box {
  background: #ffffff;
  font-size: 80%;
  padding: 8px;
  text-align: center;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dialog-box p {
  margin-top: 0;
}

.game {
  flex: 1;
}

.game-content {
  flex: 1;
}

.game-session {
  background: #837065;
  display: grid;
  grid-template-columns: [left-col] 17% [center-col] auto [right-col] 17%;
  grid-template-rows: [top-row] auto [bottom-row] 17fr [end-row];
}

.grid-timeline {
  grid-column: 1;
  grid-row: top-row / bottow-row;
}

.grid-instructions {
  grid-column: left-col / center-col;
  grid-row: bottow-row;
}

.grid-gameboard {
  grid-column: center-col;
  grid-row: 1 / 5;
}

.grid-chat {
  grid-column: right-col;
  grid-row: top-row;
}

.grid-actions {
  grid-column: right-col;
  grid-row: bottow-row;
}

.game-timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.game-timeline__title {
  background: #ffffff;
  padding: 4px;
  border-radius: 4px;
  color: #111;
}
.game-timeline__round {
  display: flex;
  align-items: center;
}
.game-timeline__round-number {
  min-width: 20px;
  color: #ffffff;
  text-align: right;
}

.codename {
  position: relative;
}
.codename--5 {
  width: 19%;
}
.codename__background {
  width: 100%;
  height: 100%;
}
.codename__word {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 90%;
}
.codename__word-updsidedown {
  position: absolute;
  top: 35%;
  left: -10%;
  text-transform: uppercase;
  transform: rotate(180deg);
  opacity: 0.5;
  font-size: 60%;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.codenames-grid {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #837065;
}

.game-area {
  display: flex;
  width: 100%;
  background: orange;
}
