// Contants
@import './constants';
// Animations
@import './animations';
// Global
@import './global';
// Components
@import './header';
@import './popup';
@import './home';
@import './waiting-room';

@import './game-actions';
@import './game-chat';
@import './game-instructions';
@import './game-session';
@import './game-timeline';

@import './codenames';

@import './card';

.codenames-grid {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $color-brown;
}

.game-area {
  display: flex;
  width: 100%;
  background: orange;
}
