// Contants
@import './constants';
// Animations
@import './animations';
// Global
@import './global';
// Components
@import './header';
@import './home';
@import './waiting-room';
@import './game-session';
@import './game-timeline';

@import './codenames';
@import './chat';

@import './card';

.loading-page {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.codenames-grid {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $color-brown;
}

.game-area {
  display: flex;
  width: 100%;
  background: orange;
}

.game-timeline {
  width: $sidePanelWidth;
  background: $color-brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
